<!DOCTYPE html>
<html lang="en" id =>
<head>
    <meta charset="UTF-8">
    <title>Anomalies Detection</title>
    <link rel="stylesheet" href="css/dark.css">
</head>
    <body>
        <h2 id="title">Anomalies Detection</h2>
        <form
          name='filesUpload'
          action='/detect'
          method='post'
          encType="multipart/form-data"
          target="answer"/>
        <table>
            <tr>
                <td>
                    <table class="menu">
                        <tr>
                            <td>Learn csv file:
                            <input type="file" name="learnCSV" accept="text/csv"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Test csv file: &ensp;
                            <input type="file" name="testCSV" accept="text/csv"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                            <input type='submit' value='Submit!' />
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <select datatype="sel" name="algorithmSelect">
                        <option value="simple" selected>Simple Detector</option>
                        <option value="hybrid">Hybrid Detector</option>
                    </select>
                </td>
                <td>
                    <div style="margin-left: 50px">
                        <p id="instructionsText"><u>Instructions:</u></p>
                          <p style="margin-left: 20px">  • Browse & Upload a learn csv file.<br>
                            • Browse & Upload a test csv file for anomalies detection.<br>
                            • Select anomalies detection algorithm from the list (Simple or Hybrid).<br>
                            • Press on 'Submit!'.<br><br>
                                Output will be displayed in the frame below.<br>
                                Please make sure you upload csv files with new-lines as '\n'.</p>

                    </div>
                </td>
            </tr>
        </table>
        <br>
        <iframe id="iframeBorder" name="answer" width="80%" height="600"></iframe>
        <br><br><br>
        <p id="aboutText"><u>About :</u></p>
        <p>Closeable Detectors:</p>
        <p>Simple Detector - Learns the most correlated column to each column and calculates their regression line.<br>
        then, detect samples in the train csv file that are distant from this line and present them as anomalies.</p>
        <p>Hybrid Detector - Same as the Simple one but also contains a minimum circle algorithm. <br>
        It Calculates the minimum circle to contain all the samples in the learn csv file, and check which sample in <br>
        the test csv file does not fit in this circle, and presents them as anomalies as well.</p>

        <br><br>
        <p>Created by Stav Lidor(<a href="https://github.com/stavLidor">Git</a>) & Liron Haim(<a href="https://github.com/LironHaim15">Git</a>)</p>
        <p>This web app Git can be found <a href="https://github.com/LironHaim15/anomalies_detection_web_app">here</a></p>
    </body>
</html>